<div class="container">
  <div class="donors">
    <h2>BROWSE DONORS</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div ng-repeat="donor in donors" class="person-container">
          <div class="name">{{donor.userData.get('name')+' '+donor.userData.get('surname')}}</div>
          <div class="personal-data"><span>{{donor.userData.get('sex')}}</span><span>{{donor.userData.get('age') + ' ' + lang.years}}</span><span>{{donor.userData.get('weight') + ' kg'}}</span></div>
          <div class="donations"><span>{{donor.userData.get('bloodType')}}</span>{{donor.numberOfDonations + ' ' + lang.donations}}<span></span></div>
          <div class="achievement d{{donor.achievement}}-times"></div>
          <div>
            <input class="form-control input-clear" ng-model="donationDate" type="text" placeholder="{{lang.date}}">
            <a class="link" ng-click="onAddDonationClick(donor.userData.get('userObjectId'))">{{lang.addDonation}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
