<div class="container margintop">
  <div class="center">
    <span ng-show="error.hasError" class="error">{{error.msg}}</span>
  </div>

  <div class="data-form push-notification">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form  accept-charset="utf-8">
          <div>
            <input class="form-control input-clear" type="text" ng-model="notificationInfo.name" placeholder="{{lang.eventName}}">
          </div>
          <div>
            <input class="form-control input-clear" type="text" ng-model="notificationInfo.location" placeholder="{{lang.eventLocation}}">
          </div>
          <div>
            <input class="form-control input-clear" type="text" ng-model="notificationInfo.time" placeholder="{{lang.eventTime}}">
          </div>
        </form>
        <div class="edit-btn-container text-right">
          <a class="btn btn-submit" ng-click="pushNotification()">{{lang.pushNotification}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

